
.vs/projekt/FileContentIndex/559e5372-2a95-447d-8abc-59b6c97c9493.vsidx
.vs/projekt/FileContentIndex/559e5372-2a95-447d-8abc-59b6c97c9493.vsidx
.vs/projekt/FileContentIndex/a752f9dc-fde3-46ce-89e0-91557a0595b8.vsidx
.vs/projekt/FileContentIndex/b4b860bd-a628-41e7-b41d-213fb8d4146b.vsidx
.vs/projekt/FileContentIndex/e7e07f5a-1872-4339-b12f-4d3a691eed23.vsidx
.vs/projekt/v17/.suo
.vs/projekt/v17/Browse.VC.db
.vs/projekt/v17/ipch/AutoPCH/13931a874897ce30/VCTMP7392_491764.INTERFEJS.00000000.HEAD.ipch
.vs/projekt/v17/ipch/AutoPCH/3b19f3e39542eae/JEDZENIE.ipch
*.ipch
*.vsidx
.vs/projekt/v17/.suo
.vs/projekt/v17/Browse.VC.db
*.obj
*.tlog
*.idb
*.pdb
